h1 {
    color: lightgreen;
    text-align: center;
}

h3 {
    color: blue;
}

p {
    color: red;
}

#wrapper {
    border: solid 10px;
    border-color: black;
    background: grey;
    display: flex;
    justify-content: space-evenly;
}

.truthLie {
    text-align: center;
    background-color: lightgrey;
    border: solid 2px black;
    border-radius: 30px;
}
